#countLabel{
    border-top: 50px;
    display: block;
    font-size: 5em;
    text-align: center;
    font-family: poppins;
}

#buttonContainer{
    text-align: center;
}

.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.25s;
}

.button:hover{
    background-color: grey;
}