#btnContainer{ 
    text-align: center;

}

#mySubmit{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.25s;
}